.button {
  padding: 12px 16px;
  width: 100%;
  height: 100%;
  font-size: 16px;
  line-height: 20px;
  font-weight: 900;
  color: var(--text-color);
  background-color: var(--yellow-light-color);
  border-radius: 20px;
  transition: 0.3s;

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }

  &:enabled:focus-visible,
  &:enabled:hover {
    outline: none;
    // color: var(--gray);
    background-color: var(--yellow-color);
  }

  &:enabled:active {
    transform: scale(0.9);
  }

}