.wrapper {
    display: flex;
    align-items: center;
    gap: 7px;

    & > p {
        margin: 0;
        font-size: 24px;
        line-height: 32px;
        font-weight: 400;
    }

    & > button {
        display: flex;
        align-items: center;
        justify-content: center;
        justify-items: center;
    }
}